@media screen and (max-width: 576px) {
  input {
    height: 48px;
    width: 770px;
  }

  input[type="text"] {
    font-size: 140%;
  }

  label {
    font-size: 1.5em;
  }

  .fukidashi-3-sp {
    display: block;
    margin: 32px auto 0;
    position: relative;
  }
  .fukidashi-3 {
    display: none;
  }

  /* 説明 */
  .explain {
    width: 600px;
    left: -145px;
  }

  .explain .ex1-p {
    font-size: 1.04em;
    left: 40px;
    top: 110px;
  }

  .ex1-h2 {
    font-size: 1.8em;
  }

  .fukidashi-1 {
    width: 600px;
    height: 300px;
  }

  .explain2 {
    width: 600px;
    height: 330px;
    top: 370px;
  }
  .explain2 h2 {
    font-size: 1.8em;
    margin-top: 4px;
  }
  .explain2 ol {
    top: 145px;
    left: 40px;
  }
  .explain2 ol li {
    font-size: 1.08em;
  }

  .fukidashi-2 {
    width: 600px;
    height: 300px;
  }

  .helmet {
    width: 260px;
    top: 90px;
    left: 637px;
  }
  .sprocket4-hel {
    position: absolute;
    top: 0;
    left: 240px;
  }

  .sprocket4-ex {
    position: absolute;
    top: 0;
    left: 580px;
  }

  /* 計算機 */

  .container {
    margin-top: 450px;
  }

  .calc-inputs h2 {
    font-size: 1.8em;
  }

  /* ローカル */

  .localStorage {
    left: 60px;
  }

  .localStorage label {
    font-size: 1.2em;
  }

  .localStorage select {
    font-size: 1.2em;
    width: 390px;
  }

  #load,
  #delete {
    height: 36px;
    width: 120px;
    font-size: 1em;
    margin-left: 8px;
    height: 60px;
    border-radius: 8px;
  }

  /* 車名 */
  .input-moto-name {
    flex-direction: column;
    top: 250px;
  }
  .input-moto-name label {
    font-size: 1.2em;
  }

  .input-moto-name input {
    width: 770px;
  }


  /* rpm ス/ロケット */
  .input-top {
    top: 350px;
    flex-direction: column;
  }
  .input-top label {
    font-size: 1.2em;
  }
  .input-rpm {
    flex-direction: column;
  }
  .input-rpm input {
    width: 770px;
  }
  .input-primary {
    flex-direction: column;
  }
  .input-primary input {
    width: 770px;
  }

  .input-primary .secondary {
    margin: 0;
  }

  .input-sprockets {
    position: static;
    border: none;
    padding: 0;
    margin-top: 30px;
  }
  .input-sprockets input {
    width: 770px;
  }
  .input-sprockets p {
    margin: 0;
  }
  .sprocketF {
    margin: 0;
  }
  .input-sprockets h3 {
    display: block;
  }
  .input-sprockets::before {
    display: none;
  }

  #sprocketF,
  #sprocketR {
    margin-top: 0;
  }

  /* タイヤ */
  .tire-size {
    top: 925px;
  }
  .tire-size h3 {
    font-size: 1.2em;
  }

  .tire-size .small-label {
    display: none;
  }

  .with-unit {
    display: block;
    font-size: 1.2em;
  }
  .without-unit {
    display: none;
  }

  /* 減速比 */
  .ratios {
    /* display: none; */
    display: flex;
    flex-direction: column;
    top: 1285px;
  }
  .ratios label {
    font-size: 1.2em;
  }

  /* 結果表示先 */
  #result-display-target1,
  #result-display-target2 {
    top: 1875px;
  }

  /* ボタン */

  #calc-btn {
    height: 100px;
    font-size: 1.6em;
  }
  .buttons-bottom {
    flex-direction: column;
  }
  #reset-btn {
    margin: 16px auto 0;
    height: 100px;
    width: 350px;
    font-size: 1.5em;
  }
  #save-btn {
    margin: 16px auto 0;
    height: 100px;
    width: 350px;
    order: -1;
    font-size: 1.5em;
  }

  /* 結果テーブル */
  #result-select-message1 {
    top: 110px;
  }

  #table h2 {
    font-size: 1.8em;
    position: absolute;
    top: 50px;
  }

  #table-result1 {
    top: 100px;
    font-size: 1.2em;
  }
  #table-result2 {
    font-size: 1.2em;
  }

  /* 結果リセット、選択 */
  #result-reset1,
  #result-select1 {
    height: 70px;
    width: 165px;
  }
  .result-buttons1 {
    display: flex;
    gap: 16px;
    top: 495px;
    left: 262px;
  }

  #white-loading1 {
    top: 132px;
  }
  #loading-img1 {
    top: 211px;
  }

  #result-select-message2 {
    top: 590px;
  }

  #result-reset2,
  #result-select2 {
    height: 70px;
    width: 165px;
  }
  .result-buttons2 {
    display: flex;
    gap: 16px;
    top: 976px;
    left: 262px;
  }

  /* 比較ボタン */
  #compare-btn {
    height: 70px;
    width: 350px;
    font-size: 1.2em;
  }
}

@media (hover: hover) {
  #calc-btn:hover {
    background: #1d313c;
    cursor: pointer;
  }

  #reset-btn:hover {
    background: #1d313c;
    cursor: pointer;
  }

  #reset-btn:hover {
    background: #1d313c;
    cursor: pointer;
  }

  #load.is-active:hover {
    background: #1d313c;
  }

  #delete.is-active:hover {
    background: #1d313c;
  }

  #result-reset1:hover {
    background: #1d313c;
    cursor: pointer;
  }

  #result-select1:hover {
    background: #1d313c;
    cursor: pointer;
  }

  #result-reset2:hover {
    background: #1d313c;
    cursor: pointer;
  }

  #result-select2:hover {
    background: #1d313c;
    cursor: pointer;
  }

  #compare-btn:hover {
    background: #1d313c;
    color: #fff;
    cursor: pointer;
  }
}
