@use '_mediaQuery' as *;

/* ----------説明----------- */

.explain {
  max-width: 900px;
  margin: 0 auto;

  @media (max-width: 575px) {
    .d-flex {
      display: block !important;
    }
  }

  .explain-1 {
    margin: 16px 0;


    .fukidashi-1-sp {

      @include min(sm) {
        display: none;
      }
    }

    .fukidashi-1 {
      display: none;

      @include min(sm) {
        display: block;
      }
    }

    p {
      margin: 11% 0 0 3%;
      max-width: 94%;

      @include font-size2;
    }


  }

  .explain-2 {
    margin: 16px 0;

    .fukidashi-2-sp {

      @include min(sm) {
        display: none;
      }
    }

    .fukidashi-2 {
      display: none;

      @include min(sm) {
        display: block;
      }
    }

    ol {
      margin: 14% 0 0 4%;

      @include min(sm) {
        margin: 14% 0 0 5%;
      }

      @include font-size2;

      li {
        max-width: 95%;
      }
    }

  }

  .helmet {
    display: none;

    @include min(sm) {
      display: block;
    }

    .helmet {
      width: 90%;
      height: auto;
      margin: 0 auto;
      display: block;
    }
  }
}