@use '_mediaQuery' as *;

@font-face {
  font-family: "koruri";
  src: url("../font/Koruri-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  background: #50a3ab;
  color: #1d313c;
  font-family: "koruri";
  background-image: linear-gradient(90deg, transparent 39px, #1d313c 40px), linear-gradient(0deg, transparent 39px, #1d313c 40px);
  background-size: 40px 40px;
}

img {
  pointer-events: none;
}

h2 {
  color: #fff;
}

button {
  color: #fff;
}


/* ----------タイトルバー----------- */

.wrapper {
  max-width: 900px;
  margin: 32px auto;
  background: #fadac1;
  border: 4px solid #1d313c;
  border-top: 18px solid #1d313c;
  border-radius: 16px;
  border-radius: 16px;
  box-shadow: #222 16px 16px;

  @include min(sm) {
    border: 8px solid #1d313c;
    border-top: 28px solid #1d313c;
  }

  @include min(md) {
    border-top: 32px solid #1d313c;
  }
}



.title-bar {
  position: relative;

  .sprocket {
    width: 12px;
    height: auto;
    top: -14px;

    @include min(sm) {
      width: 18px;
      top: -21px;
    }

    @include min(md) {
      width: 20px;
      top: -24px;
    }
  }

  .sprocket1 {
    position: absolute;
    left: -2%;

    @include min(md) {
      left: 0%;
    }
  }

  .sprocket2 {
    position: absolute;
    left: 4%;

  }

  .sprocket3 {
    position: absolute;
    left: 10%;

    @include min(md) {
      left: 8%;
    }
  }

  .sprocket4 {
    position: absolute;
    left: 97%;
  }
}

.sprocket2-ex {
  position: absolute;
  left: 4%;

  @include min(md) {
    left: 6%;
  }
}

.sprocket3-ex {
  position: absolute;
  left: 10%;

  @include min(md) {
    left: 12%;
  }
}

.sprocket1-hel {
  position: absolute;
  left: -2%;
}

.sprocket2-hel {
  position: absolute;
  left: 10%;
}

.sprocket3-hel {
  position: absolute;
  left: 24%;
}

.sprocket4-hel {
  position: absolute;
  left: 95%;
}

/* ----------ロゴ----------- */

.logo {

  h1 {
    @include min(sm) {
      margin: 32px 0;
    }

    img {
      display: block;
      background: #fff;
      border: 4px solid #1d313c;
      padding: 16px 0;

      @include min(sm) {
        border: 6px solid #1d313c;
      }

      @include min(md) {
        border: 8px solid #1d313c;
      }
    }
  }
}

/* フッター */

small {
  display: block;
  text-align: center;
  margin: 0 auto;
}