@use '_mediaQuery' as *;

/* ------テーブル------ */

#table {

  #table-result1,
  #table-result2 {
    border: none;
    margin: 14% auto 0;
    text-align: center;
    width: 95%;

    @include min(sm) {
      margin: 16% auto 0;
    }

    @include min(md) {
      margin: 18% auto 0;
    }

    &.select {
      border-top: 2px solid #d77676;
      border-left: 2px solid #d77676;
    }

    h3 {
      font-size: 1.2em;
      margin: 0;
    }

    tbody {

      tr {

        th,
        td {
          font-size: 1.09em;
          @include padding;
          @include font-size5;

          &.highlight {
            background: #d77676;
            color: #fff;
          }
        }

        th {
          width: 190px;
        }

        td {
          width: 100px;
        }
      }

      .tr1-last,
      .tr2-last {
        &.select {
          border-bottom: 2px solid #d77676;
        }
      }

      .tr1-r,
      .tr2-r {
        &.select {
          border-right: 2px solid #d77676;
        }
      }
    }

    .custom-table {
      border: none;
    }
  }

  #result-select-message1,
  #result-select-message2 {
    font-size: 1em;
    @include font-size6;
    margin-top: 10%;
    color: #c43b39;
    // z-index: 1;

    @include min(xs) {
      margin-top: 11%;
    }

    @include min(sm) {
      margin-top: 13%;
    }

    @include min(md) {
      margin-top: 14%;
    }
  }


  #table-result2 {
    tbody {
      tr {

        th {
          width: 190px;
        }

        td {
          width: 105px;
        }
      }
    }

    &.select {
      border-top: 1px solid #d77676;
      border-left: 1px solid #d77676;
    }
  }


  .result-buttons1,
  .result-buttons2 {
    margin-top: 56%;
    margin-bottom: 0;
    justify-content: center;
    gap: 8px;
    z-index: 2;

    @include min(xs) {
      margin-top: 57%;
    }

    @include min(sm) {
      margin-top: 60%;
    }

    #result-reset1,
    #result-select1,
    #result-reset2,
    #result-select2 {
      width: 30%;
      font-size: 0.7em;
      @include font-size6;
      border: 1px solid #1d313c;
      border-radius: 8px;
      height: 25px;

      @include min(xs) {
        height: 35px;
      }

      @include min(sm) {
        height: 40px;
        width: 25%;
      }

      @include touch-device-only {
        &:hover {
          background: #1d313c;
          cursor: pointer;
        }
      }

      &:active {
        opacity: 0.8;
        transition: 0.1s;
      }

      &.is-inactive {
        pointer-events: none;
        opacity: 0.8;
      }
    }

    #result-reset1,
    #result-reset2 {
      background: #c43b39;
    }

    #result-select1,
    #result-select2 {
      background: #50a3ab;
    }
  }

  /* ------ローディング------ */
  #white-loading1,
  #white-loading2 {
    opacity: 0;
    background: #fff;
    width: 100%;
    transition: 0.3s;
    pointer-events: none;
    margin: 16% auto 0;
    width: 95%;
    height: 70%;
    z-index: 1;

    @include min(md) {
      margin: 18% auto 0;
    }


    &.appear {
      opacity: 0.7;
      pointer-events: none;
      transition: 0.1s;
    }
  }

  #loading-img1,
  #loading-img2 {
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    width: 45%;
    height: auto;
    margin: 15% auto 0;
    z-index: 2;

    @include min(md) {
      margin: 18% auto 0;
    }

    @include min(sm) {
      width: 40%;
    }

    &.appear {
      opacity: 1;
      pointer-events: none;
      transition: 0.1s;
    }
  }
}

/* ------比較ボタン------ */
#compare-btn {
  background: #fff;
  color: #1d313c;
  border: 1px solid #1d313c;
  border-radius: 8px;
  font-size: 0.8em;
  transition: 0.3s;
  display: block;
  width: 30%;
  padding: 12px;
  margin: 12px auto 12px;
  @include font-size5;
  z-index: 999;


  @include touch-device-only {
    &:hover {
      background: #1d313c;
      color: #fff;
      cursor: pointer;
    }
  }

  &:active {
    opacity: 0.8;
  }
}