@charset "utf-8";
@font-face {
  font-family: "koruri";
  src: url("../font/Koruri-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  background: #50a3ab;
  color: #1d313c;
  font-family: "koruri";
  background-image: linear-gradient(90deg, transparent 39px, #1d313c 40px), linear-gradient(0deg, transparent 39px, #1d313c 40px);
  background-size: 40px 40px;
}

img {
  pointer-events: none;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

h2 {
  margin: 0;
  /* font-size: 1.4em; */
  font-weight: normal;
}

h3 {
  margin: 0;
  font-weight: normal;
}

p {
  font-weight: normal;
  margin: 0;
}

/* ----------タイトルバー----------- */
.title-bar {
  border-top: 24px solid #1d313c;
}

.sprocket1 {
  position: absolute;
  top: 0;
  left: 4px;
}
.sprocket2 {
  position: absolute;
  top: 0;
  left: 26px;
}
.sprocket3 {
  position: absolute;
  top: 0;
  left: 48px;
}
.sprocket4 {
  position: absolute;
  top: 0;
  left: 880px;
}

.sprocket4-ex {
  position: absolute;
  top: 0;
  left: 530px;
}

.sprocket4-hel {
  position: absolute;
  top: 0;
  left: 285px;
}

/* ----------ロゴ----------- */

.logo {
  margin: 32px auto;
  background: #fadac1;
  width: 900px;
  border: 8px solid #1d313c;
  border-radius: 16px;
  box-shadow: #222 16px 16px;
  position: relative;
}

h1 {
  margin: 0;
}
h1 img {
  display: block;
  margin: 32px auto;
  background: #fff;
  border: 8px solid #1d313c;
  padding: 16px 0;
}

/* ----------説明----------- */

.explain {
  margin: 70px auto;
  background: #fadac1;
  width: 555px;
  border: 6px solid #1d313c;
  border-radius: 18px;
  box-shadow: #222 16px 16px;
  position: relative;
  left: -167px;
}
.explain .ex1-h2 {
  color: #fff;
  position: absolute;
  top: 44px;
  left: 48px;
}
.explain .ex1-p {
  font-size: 0.93em;
  position: absolute;
  top: 100px;
  left: 50px;
}

/* ----------説明２----------- */

.explain2 {
  background: #fadac1;
  width: 555px;
  border: 6px solid #1d313c;
  border-radius: 18px;
  box-shadow: #222 16px 16px;
  position: absolute;
  top: 324px;
  left: -6px;
}

.explain ol {
  margin: auto;
  padding-left: 18px;
  position: absolute;
  top: 133px;
  left: 45px;
}
.explain ol li {
  font-size: 0.95em;
}
.ex2-h2 {
  color: #fff;
  position: absolute;
  top: 65px;
  left: 50px;
}

/* ----------ヘルメットくん----------- */

.helmet {
  margin: 32px auto;
  background: #fadac1;
  width: 310px;
  border: 6px solid #1d313c;
  border-radius: 16px;
  box-shadow: #222 16px 16px;
  position: absolute;
  top: 50px;
  left: 590px;
}
.helmet-back {
  background: #fff;
  border: 6px solid #1d313c;
  margin: 56px 16px 32px;
}
.fukidashi-5 {
  position: absolute;
  top: 45px;
}
.helmet .icon {
  background: #222;
  border-radius: 50%;
  display: block;
  margin: 28px auto 0;
}
.name {
  color: #fff;
  position: absolute;
  top: 67px;
  left: 46px;
}
#timer {
  text-align: center;
  margin: 24px 0 12px;
}
.call-icon {
  text-align: center;
  margin-bottom: 8px;
}

/* 数値入力部分 */

.container {
  width: 900px;
  margin: 400px auto 32px;
  background: #fadac1;
  border-radius: 16px;
  border: 8px solid #1d313c;
  border-radius: 16px;
  box-shadow: #222 16px 16px;
  position: relative;
}

.fukidashi-3 {
  display: block;
  margin: 32px auto 0;
  position: relative;
}
.fukidashi-3-sp {
  display: none;
}
.calc-inputs h2 {
  color: #fff;
  position: absolute;
  top: 80px;
  left: 60px;
}
input {
  border: 2px solid #1d313c;
  width: 80px;
}

.message-hankaku {
  position: absolute;
  top: 210px;
  left: 60px;
}
.message-hankaku p {
  font-size: 0.8em;
}

/* 車名 */
.input-moto-name {
  font-size: 1.1em;
  position: absolute;
  top: 160px;
  left: 60px;
  display: flex;
}

.input-moto-name input {
  width: 280px;
}


/* input-top */

.input-top {
  position: absolute;
  top: 225px;
  left: 45px;
}
.input-top input {
  width: 155px;
}
.input-rpm {
  margin-top: 0;
}
.input-primary {
  margin-top: 8px;
}
.primary {
  margin-right: 76px;
}
.input-primary .secondary-outer {
  /* margin-left: 16px; */
  margin-top: 8px;
}
.secondary {
  margin-right: 76px;
}

/* ------スプロケット------ */
.input-sprockets {
  border: 5px solid #1d313c;
  padding: 12px;
  margin-top: 6px;
  width: 365px;
  position: relative;
  left: 55px;
  top: -10px;
}
.input-sprockets input {
  width: 100px;
}
.input-sprockets h3 {
  display: none;
}
.input-sprockets::before {
  background: #fff;
  content: "スプロケットの丁数";
  padding: 2px 4px;
  position: absolute;
  top: -16px;
  left: 110px;
}
.input-sprockets p {
  margin: 0 0 0 16px;
  font-size: 0.7em;
}
.input-top {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}
#sprocketF,
#sprocketR {
  margin-top: 8px;
}
.sprocketF {
  margin-left: 16px;
}

/* ------リアタイヤのサイズ------ */

.tire-size {
  margin-left: 0;
  position: absolute;
  top: 345px;
  left: 60px;
}
.tire-size p {
  font-size: 0.8em;
  margin: 8px 0;
}
.with-unit {
  display: none;
}
.tire-size label.small-label {
  font-size: 0.8em;
}

/* ------各ギアの変速比------ */

.ratios {
  margin: 0;
  position: absolute;
  top: 470px;
  left: 60px;
}
.ratios p {
  font-size: 0.9em;
  margin: 8px 0;
}

/* ------結果表示先メッセージ------ */

#result-display-target1 {
  color: #c43b39;
  position: absolute;
  top: 565px;
  left: 60px;
  opacity: 0;
}
#result-display-target1.appear {
  opacity: 1;
}
#result-display-target2 {
  color: #c43b39;
  position: absolute;
  top: 565px;
  left: 60px;
  opacity: 0;
}
#result-display-target2.appear {
  opacity: 1;
}

/* ------計算、リセットボタン------ */

.buttons {
  text-align: center;
  margin-top: 6px;
}
#calc-btn {
  font-family: "koruri";
  font-size: 1.2em;
  background: #50a3ab;
  color: #fff;
  border: 2px solid #1d313c;
  border-radius: 24px;
  transition: 0.3s;
  box-sizing: border-box;
  width: 350px;
  height: 50px;
}
/* #calc-btn:hover {
  background: #1d313c;
  cursor: pointer;
} */
#calc-btn:active {
  opacity: 0.8;
  transition: 0.1s;
}
#reset-btn {
  font-family: "koruri";
  font-size: 1em;
  border: 2px solid #1d313c;
  border-radius: 24px;
  color: #fff;
  background: #c43b39;
  /* padding: 16px 34px; */
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
  width: 170px;
  height: 40px;
}
/* #reset-btn:hover {
  background: #1d313c;
  cursor: pointer;
} */
#reset-btn:active {
  opacity: 0.8;
  transition: 0.1s;
}
#calc-btn.is-inactive {
  pointer-events: none;
  opacity: 0.7;
}
#calc-btn.is-active {
  pointer-events: auto;
  cursor: pointer;
}

#save-btn {
  font-family: "koruri";
  font-size: 1em;
  border: 2px solid #1d313c;
  border-radius: 24px;
  color: #fff;
  background: #e77843;
  /* padding: 16px 28px; */
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
  width: 170px;
  height: 40px;
}
/* #save-btn:hover {
  background: #1d313c;
  cursor: pointer;
} */
#save-btn:active {
  opacity: 0.8;
  transition: 0.1s;
}

.buttons-bottom {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

/* ------保存しましたメッセージ------ */

#balloon {
  position: absolute;
  top: 620px;
  left: 215px;
  opacity: 0;
  transition: 0.3s;
}
#balloon.appear {
  opacity: 1;
}
.balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #1d313c;
  font-size: 16px;
  background: #fff;
  border: solid 3px #1d313c;
  border-radius: 18px;
  box-sizing: border-box;
}

.balloon:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -15px;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  z-index: 2;
}

.balloon:after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 50%;
  margin-left: -17px;
  border: 12px solid transparent;
  border-top: 12px solid #1d313c;
  z-index: 1;
}
.balloon p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

/* ------ローカルストレージ操作------ */

.localStorage {
  z-index: 1;
  position: absolute;
  top: 162px;
  left: 440px;
  /* width: 400px; */
}
.localStorage select {
  width: 185px;
}

.localStorage label {
  font-size: 0.9em;
}
#load {
  border: 2px solid #1d313c;
  /* border-radius: 6px; */
  background: #e77843;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
#load:active {
  opacity: 0.7;
}
#load.is-active {
  opacity: 1;
  cursor: pointer;
}
/* #load.is-active:hover {
  background: #1d313c;
} */
#load.is-inactive {
  opacity: 0.7;
  cursor: auto;
}
#delete {
  border: 2px solid #1d313c;
  /* border-radius: 6px; */
  background: #c43b39;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
/* #delete.is-active:hover {
  background: #1d313c;
} */
#delete:active {
  opacity: 0.7;
}
#delete.is-active {
  opacity: 1;
  cursor: pointer;
}
#delete.is-inactive {
  opacity: 0.7;
  cursor: auto;
}
/* ------結果1------ */

#table {
  text-align: center;
  margin: 18px 14px 0;
  position: relative;
}
#fukidashi-result1 {
  position: relative;
  top: -12px;
  left: 0;
}
#fukidashi-result2 {
  position: relative;
  top: -12px;
  left: 0;
}

#table h2 {
  color: #fff;
  position: absolute;
  top: 56px;
  left: 45px;
}
#table-result1 {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 0;
  border: 4px solid #1d313c;
  background: #fff;
  margin: 32px 0 32px;
  position: absolute;
  top: 115px;
  left: 40px;
}
#table-result1.select {
  border: 4px solid #d77676;
}
#table-result1 th,
#table-result1 td {
  width: 110px;
  height: 30px;
  padding: 9px 0;
  border-bottom: 2px solid #1d313c;
  border-right: 2px solid #1d313c;
  font-weight: normal;
}
#table-result1 tbody tr:last-child th,
#table-result1 tbody tr:last-child td {
  border-bottom: none;
}
#table-result1 tbody tr th:last-child,
#table-result1 tbody tr td:last-child {
  border-right: none;
}

/* -------結果選択・リセット１・メッセージ------ */

#result-select-message1 {
  color: #c43b39;
  position: absolute;
  top: 120px;
  left: 40px;
}

.result-buttons1 {
  position: absolute;
  top: 518px;
  left: 280px;
}

#result-reset1 {
  font-family: "koruri";
  white-space: nowrap;
  border: 2px solid #1d313c;
  border-radius: 26px;
  color: #fff;
  background: #c43b39;
  padding: 8px 36px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}
/* #result-reset1:hover {
  background: #1d313c;
  cursor: pointer;
} */
#result-reset1:active {
  opacity: 0.8;
  transition: 0.1s;
}

#result-select1 {
  font-family: "koruri";
  white-space: nowrap;
  border: 2px solid #1d313c;
  border-radius: 26px;
  color: #fff;
  background: #50a3ab;
  padding: 8px 24px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}
/* #result-select1:hover {
  background: #1d313c;
  cursor: pointer;
} */
#result-select1:active {
  opacity: 0.8;
  transition: 0.1s;
}
#result-select1.is-inactive {
  pointer-events: none;
  opacity: 0.8;
}

/* --------結果ハイライト---------- */

.highlight {
  background: #d77676;
  color: #fff;
}

/* --------結果2---------- */

#table-result2 {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 0;
  border: 4px solid #1d313c;
  background: #fff;
  text-align: center;
  position: absolute;
  top: 610px;
  left: 40px;
}
#table-result2.select {
  border: 4px solid #d77676;
}
#table-result2 th,
#table-result2 td {
  width: 110px;
  height: 30px;
  padding: 9px 0;
  border-bottom: 2px solid #1d313c;
  border-right: 2px solid #1d313c;
  font-weight: normal;
}
#table-result2 tbody tr:last-child th,
#table-result2 tbody tr:last-child td {
  border-bottom: none;
}
#table-result2 tbody tr th:last-child,
#table-result2 tbody tr td:last-child {
  border-right: none;
}

/* ------ローディング結果１------ */

#white-loading1 {
  position: absolute;
  opacity: 0;
  top: 145px;
  left: 40px;
  background: #fff;
  width: 790px;
  height: 359px;
  transition: 0.3s;
  pointer-events: none;
}
#loading-img1 {
  position: absolute;
  opacity: 0;
  top: 226px;
  left: 308px;
  transition: 0.3s;
  pointer-events: none;
}
#white-loading1.appear {
  opacity: 0.7;
  pointer-events: none;
  transition: 0.1s;
}
#loading-img1.appear {
  opacity: 1;
  pointer-events: none;
  transition: 0.1s;
}

/* ------ローディング結果２------ */

/* #black-loading2 {
  position: absolute;
  opacity: .8;
  top: 610px;
  left: 40px;
  background: #fff;
  border: 2px solid #1D313C;
  width: 790px;
  height: 355px;
  transition: .3s;
  pointer-events: none;
} */
#white-loading2 {
  position: absolute;
  opacity: 0;
  top: 610px;
  left: 40px;
  background: #fff;
  width: 790px;
  height: 359px;
  transition: 0.3s;
  pointer-events: none;
}
#white-loading2.appear {
  opacity: 0.8;
  transition: 0.1s;
}
/* #black-loading2 p {
  font-size: 2em;
  margin-top: 154px;
  color: #1D313C;
  opacity: 1;
  pointer-events: none;
} */

#loading-img2 {
  position: absolute;
  opacity: 0;
  top: 689px;
  left: 308px;
  transition: 0.3s;
  pointer-events: none;
}
#loading-img2.appear {
  opacity: 1;
  transition: 0.1s;
}

/* -------結果選択・リセット2・メッセージ------ */

#result-select-message2 {
  color: #c43b39;
  position: absolute;
  top: 580px;
  left: 40px;
}
.result-buttons2 {
  position: absolute;
  top: 985px;
  left: 285px;
  display: flex;
  gap: 4px;
}

#result-reset2 {
  font-family: "koruri";
  white-space: nowrap;
  border: 2px solid #1d313c;
  border-radius: 26px;
  color: #fff;
  background: #c43b39;
  padding: 8px 36px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}
/* #result-reset2:hover {
  background: #1d313c;
  cursor: pointer;
} */
#result-reset2:active {
  opacity: 0.8;
  transition: 0.1s;
}

#result-select2 {
  font-family: "koruri";
  white-space: nowrap;
  border: 2px solid #1d313c;
  border-radius: 26px;
  color: #fff;
  background: #50a3ab;
  padding: 8px 24px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}
/* #result-select2:hover {
  background: #1d313c;
  cursor: pointer;
} */
#result-select2:active {
  opacity: 0.8;
  transition: 0.1s;
}

/* 比較ボタン */

#compare-btn {
  font-family: "koruri";
  background: #fff;
  color: #1d313c;
  border: 2px solid #1d313c;
  border-radius: 26px;
  /* padding: 16px 28px; */
  transition: 0.3s;
  box-sizing: border-box;
  display: block;
  margin: 0 auto 14px;
  text-align: center;
  width: 150px;
  height: 50px;
}
/* #compare-btn:hover {
  background: #1d313c;
  color: #fff;
  cursor: pointer;
} */
#compare-btn:active {
  opacity: 0.8;
}

/* フッター */

small {
  display: block;
  text-align: center;
  margin: 0 auto;
}
