@use '_mediaQuery' as *;

/* ----------説明----------- */

.explain {
  margin: 70px auto;
  background: #fadac1;
  width: 555px;
  border: 6px solid #1d313c;
  border-radius: 18px;
  box-shadow: #222 16px 16px;
  position: relative;
  left: -167px;

  @include max(sm) {
    width: 600px;
    left: -145px;
  }

  .fukidashi-1 {

    @include max(sm) {
      width: 600px;
      height: 300px;
    }
  }

  .title-bar {
    .ex1-h2 {
      color: #fff;
      position: absolute;
      top: 44px;
      left: 48px;

      @include max(sm) {
        font-size: 1.8em;
      }
    }

    .ex1-p {
      font-size: 0.93em;
      position: absolute;
      top: 100px;
      left: 50px;

      @include max(sm) {
        font-size: 1.04em;
        left: 40px;
        top: 110px;
      }
    }
  }
}

/* ----------説明２----------- */

.explain2 {
  background: #fadac1;
  width: 555px;
  border: 6px solid #1d313c;
  border-radius: 18px;
  box-shadow: #222 16px 16px;
  position: absolute;
  top: 324px;
  left: -6px;

  @include max(sm) {
    width: 600px;
    height: 330px;
    top: 370px;
  }

  .fukidashi-2 {

    @include max(sm) {
      width: 600px;
      height: 300px;
    }
  }

  .title-bar {
    .ex2-h2 {
      color: #fff;
      position: absolute;
      top: 65px;
      left: 50px;

      @include max(sm) {
        font-size: 1.8em;
        margin-top: 4px;
      }
    }

    ol {
      margin: auto;
      padding-left: 18px;
      position: absolute;
      top: 133px;
      left: 45px;

      @include max(sm) {
        top: 145px;
        left: 40px;
      }

      li {
        font-size: 0.95em;

        @include max(sm) {
          font-size: 1.08em;
        }
      }
    }
  }
}

/* ----------ヘルメットくん----------- */

.helmet {
  margin: 32px auto;
  background: #fadac1;
  width: 310px;
  border: 6px solid #1d313c;
  border-radius: 16px;
  box-shadow: #222 16px 16px;
  position: absolute;
  top: 50px;
  left: 590px;

  @include max(sm) {
    width: 260px;
    top: 90px;
    left: 637px;
  }

  .title-bar {
    .helmet-back {
      background: #fff;
      border: 6px solid #1d313c;
      margin: 56px 16px 32px;

      .fukidashi-5 {
        position: absolute;
        top: 45px;
      }

      .icon {
        background: #222;
        border-radius: 50%;
        display: block;
        margin: 28px auto 0;
      }

      .name {
        color: #fff;
        position: absolute;
        top: 67px;
        left: 46px;
      }

      .helmet-id {
        text-align: center;
        margin: 24px 0 12px;
      }

      .call-icon {
        text-align: center;
        margin-bottom: 8px;
      }
    }
  }
}

@include max(sm) {
  .sprocket4-hel {
    position: absolute;
    top: 0;
    left: 240px;
  }

  .sprocket4-ex {
    position: absolute;
    top: 0;
    left: 580px;
  }
}